.container {
  max-width: 1224px;
}

.courses {
  display: flex;

  .card {
    flex: 1;
  }

  .card-img-top {
    width: 100%;
    transition: all 0.6s ease-in-out;
    padding-top: 56%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% auto;
  }

  .card-body {
    display: flex;
    flex-direction: column;
  }

  .card-text {
    flex: 1;
  }
}

.course-content {
  &__video {
    padding-top: 56.25%;
    position: relative;

    iframe {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }

  p {
    color: #666;
    margin: 12px 0;
  }
}

// show hbs
.coure-nav {
  background-color: #f5f5f5;
  text-align: center;
  margin-top: 8px;
  border-radius: 2px;

  button {
    font-size: 1.4rem;
    background-color: rgb(35, 83, 218);
    color: #fff;
    margin-top: 12px;
    padding: 4px 10px;
    border: none;
    border-radius: 4px;
  }
}

.user-avatar {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-right: 4px;
}

// me-courses
.me-stored-courses,
.me-trash-courses {
  a:hover {
    text-decoration: none;
  }

  .oi {
    font-size: 20px;
    vertical-align: sub;
  }

  &__toolbar {
    display: flex;
    align-items: center;

    .checkbox-select-all {
      width: 160px;
      margin: 0 16px;
    }
  }
  &__trash {
    margin-left: auto;
  }
}
