<div class="mt-4">
  <div class="row">
    <div class="coure-nav col-lg-3 d-none d-lg-block">
      <button>HỌC NGAY</button>
    </div>

    <div class="course-content col-lg-9 col-sm-12">
      <h2>{{course.name}}</h2>
      <div class="course-content__video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.videoId}}" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <p>{{course.description}}</p>
    </div>
  </div>
</div>