<div class="mt-4">
  <form method="GET">
    <div class="form-group">
      <label for="search-input">Tìm kiếm</label>
      <input class="form-control" id="search-input" name="q" type="text" placeholder="Nhập từ khóa...">
    </div>
    <button class="btn btn-primary" type="submit">Tìm kiếm</button>
  </form>
</div>